<html>

<head>
   <title>Plantr</title>
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css" rel="stylesheet">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.0.2/css/hover-min.css" rel="stylesheet">
   <link href="/stylesheets/style.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>

    <!-- Tempates -->
     <script type="text/ng-template" id="/templates/soulList.ejs"></script>
     <script type="text/ng-template" id="/templates/addSoul.ejs"></script>
     <script type="text/ng-template" id="/templates/members.ejs"></script>
     <script type="text/ng-template" id="/templates/register.ejs"></script>
     <script type="text/ng-template" id="/templates/index_template.ejs"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-app="plantr">
   <ui-view></ui-view>
</body>

</html>
