<header class="small_header">

</header>
<div class="container">
    <div class="row" style="padding-bottom: 80px;">
        <div class="col-md-10 col-md-offset-1 text-center">
            <p style="font-family: 'Ubuntu', sans-serif; font-size: 3em; padding-top: 40px;">Welcome Back, Andrew</p>
        </div>
    </div><!-- End of Row -->
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-4">
                <a class="memberMenu animated fadeInUp hvr-float-shadow" style="color: white; text-decoration: none;" href="#/soulList"><span class="glyphicon glyphicon-search" style="text-align: center; line-height: 90px;"</span></a>
                <p class="text-center" style="padding-top: 20px; font-family: 'Ubuntu', sans-serif; font-size: 18pt;">Find a Soul</p>
            </div>
            <div class="col-md-4">
                <a class="memberMenu animated fadeInUp hvr-float-shadow" style="color: white; text-decoration: none;" href="#/addSoul"><span class="fa fa-user-plus" style="text-align: center; line-height: 90px;"</span></a>
                <p class="text-center" style="padding-top: 20px; font-family: 'Ubuntu', sans-serif; font-size: 18pt;">Add a Soul</p>
            </div>
            <div class="col-md-4">
                <a class="memberMenu animated fadeInUp hvr-float-shadow" style="color: white; text-decoration: none;" href="#"><span class="fa fa-calendar" style="text-align: center; line-height: 90px;"</span></a>
                <p class="text-center" style="padding-top: 20px; font-family: 'Ubuntu', sans-serif; font-size: 18pt;">Schedule</p>
            </div>
        </div>
    </div><!--End of Row-->
    <div class="row" style="padding-top: 80px;">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-4">
                <a class="memberMenu animated fadeInUp hvr-float-shadow" style="color: white; text-decoration: none;" href="#"><span class="fa fa-bar-chart" style="text-align: center; line-height: 90px;"</span></a>
                <p class="text-center" style="padding-top: 20px; font-family: 'Ubuntu', sans-serif; font-size: 18pt;">Statistics</p>
            </div>
            <div class="col-md-4">
                <a class="memberMenu animated fadeInUp hvr-float-shadow" style="color: white; text-decoration: none;" href="#"><span class="fa fa-map-marker" style="text-align: center; line-height: 90px;"</span></a>
                <p class="text-center" style="padding-top: 20px; font-family: 'Ubuntu', sans-serif; font-size: 18pt;">Map</p>
            </div>
            <div class="col-md-4">
                <a class="memberMenu animated fadeInUp hvr-float-shadow" style="color: white; text-decoration: none;" href="#"><span class="fa fa-graduation-cap" style="text-align: center; line-height: 90px;"</span></a>
                <p class="text-center" style="padding-top: 20px; font-family: 'Ubuntu', sans-serif; font-size: 18pt;">Courses</p>
            </div>
        </div>
    </div><!--End of Row-->
</div>
