<div class="container">
    <div class="col-md-10 col-md-offset-1">
        <div class="row" style="padding: 40px 0 40px;">
            <div class="col-md-1">
                <a href="#/soulList"<i class="fa fa-chevron-left" style="color: #f16233; font-size: 22pt; text-decoration: none; padding-top: 15px;" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-9 text-center">
                <p style="font-family: 'Ubuntu', sans-serif; font-size: 26pt;">{{soul.fullname}}</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
   <div class="col-md-10 col-md-offset-1">
       <div class="row">
           <div class="col-md-12">
               <h4 style="font-family: 'Ubuntu', sans-serif">Street: {{soul.street}}</h4>
           </div>
