<header class="small_header">
   <a href="members"><img src="images/logo_small.png" /></a>
</header>
<div class="container">
    <div class="col-md-10 col-md-offset-1">
        <div class="row" style="padding: 40px 0 40px;">
            <div class="col-md-1">
                <a href="members"<i class="fa fa-chevron-left" style="color: #a9d038; background-color: #748598; border-radius: 10px; font-size: 22pt; text-decoration: none; padding: 10px 15px 10px 12px;" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-9 text-center">
                <p style="font-family: 'Ubuntu', sans-serif; font-size: 26pt;">Soul Directory</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
   <div class="row">
       <div class="col-md-10 col-md-offset-1">
           <div class="col-md-3" ng-repeat="soul in souls">
               <div class="thumbnail">
                   <i class="fa fa-user" aria-hidden="true" style="font-size: 14pt; padding: 5px 5px;"></i>
                   <div class="caption">
                       <h4 style="font-family: 'Ubuntu', sans-serif;">{{soul.fullname}}</h4>
                       <p><a href="#/soul/{{soul._id}}" class="btn btn-primary" role="button">Details</a></p>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
